.App {
    display: flex;
    flex-direction: column;
}

.App .ContentWrapper {
    display: flex;
}


@media only screen and (max-width: 600px) {
    .App .ContentWrapper {
        display: flex;
        flex-direction: column;
    }   
}